resources/schema/OpenDRIVE_1.8/local_schema/OpenDRIVE_Junction.xsd

<?xml version="1.1" encoding="utf-8" standalone="no"?>
<!--ASAM OpenDRIVE V1.8.0

© by ASAM e.V., 2023

ASAM OpenDRIVE defines a file format for the precise analytical description of road networks


Any use is limited to the scope described in the ASAM license terms.
This file is distributable in accordance with the ASAM license terms.
See www.asam.net/license.html for further details.
--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="OpenDRIVE_Core.xsd"/>
    <xs:include schemaLocation="OpenDRIVE_Object.xsd"/>
    <xs:include schemaLocation="OpenDRIVE_Road.xsd"/>
    <xs:simpleType name="e_connection_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="default"/>
            <xs:enumeration value="virtual"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="e_contactPoint">
        <xs:restriction base="xs:string">
            <xs:enumeration value="start"/>
            <xs:enumeration value="end"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="e_elementDir">
        <xs:restriction base="xs:string">
            <xs:enumeration value="+"/>
            <xs:enumeration value="-"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="e_junction_segment_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="joint"/>
            <xs:enumeration value="lane"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="e_junction_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="default">
                <xs:annotation>
                    <xs:documentation>Common junction, used if no value is specified</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="virtual">
                <xs:annotation>
                    <xs:documentation>Virtual junction, e.g. driveways and entries to parking lots</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="direct">
                <xs:annotation>
                    <xs:documentation>Direct junction, e.g. entries and exits</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="crossing">
                <xs:annotation>
                    <xs:documentation>Unconnected crossing, e.g. railroad or pedestrian</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="e_junctionGroup_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="roundabout"/>
            <xs:enumeration value="unknown"/>
            <xs:enumeration value="complexJunction">
                <xs:annotation>
                    <xs:documentation>for example junctions with slip lanes</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="highwayInterchange">
                <xs:annotation>
                    <xs:documentation>for example clover leaf interchange</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="e_road_surface_CRG_mode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="attached">
                <xs:annotation>
                    <xs:documentation>ASAM OpenCRG reference line: is discarded. Total height: ASAM OpenDRIVE height + OpenCRG height</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="attached0">
                <xs:annotation>
                    <xs:documentation>ASAM OpenCRG reference line: is discarded. Total height: OpenCRG height only</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="genuine">
                <xs:annotation>
                    <xs:documentation>ASAM OpenCRG reference line: shifted and rotated so beginning of reference line matches position given in ASAM OpenDRIVE. Total height: OpenCRG height only</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="global">
                <xs:annotation>
                    <xs:documentation>ASAM OpenCRG reference line: taken unmodified. Total height: OpenCRG height only</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="e_road_surface_CRG_purpose">
        <xs:restriction base="xs:string">
            <xs:enumeration value="elevation"/>
            <xs:enumeration value="friction"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="t_junction_grid_position_list">
        <xs:list itemType="xs:double"/>
    </xs:simpleType>
    <xs:complexType abstract="true" name="t_junction">
        <xs:annotation>
            <xs:documentation>Junctions model intersections between roads.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <!--To ensure backward compatibility the associations of t_junction are applied to each
				 child class complex type explicitly to comply with the sequence order of earlier OpenDRIVE versions.
				Thus the extension according to the UML is implemented (only) formaly: - ->
					<!- -<xs:element maxOccurs="unbounded" minOccurs="0" name="priority" type="t_junction_priority"/>- ->
					<!- -<xs:element maxOccurs="unbounded" minOccurs="0" name="controller" type="t_junction_controller"/>- ->
					<!- -<xs:element maxOccurs="1" minOccurs="0" name="surface" type="t_junction_surface"/>- ->
					<!- -<xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>-->
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>ID of the junction to which the road belongs, for example connecting roads, cross paths, and roads of a junction boundary. Use -1 for none.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Name of the junction. May be chosen freely.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_boundary">
        <xs:annotation>
            <xs:documentation>Junction boundaries enclose the area intended for traffic. This also includes the sidewalks for pedestrians.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="segment" type="t_junction_boundary_segment">
                        <xs:alternative test="@type='lane'" type="t_junction_boundary_segment_lane"/>
                        <xs:alternative test="@type='joint'" type="t_junction_boundary_segment_joint"/>
                    </xs:element>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="t_junction_boundary_segment">
        <xs:annotation>
            <xs:documentation>Segments run counter clockwise around the junction and form a closed junction boundary.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="roadId" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>ID of the road used for the segment</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_boundary_segment_joint">
        <xs:annotation>
            <xs:documentation>A segment element with @type="joint" is perpendicular to the start or end of the given road.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="t_junction_boundary_segment">
                <xs:sequence/>
                <xs:attribute name="contactPoint" type="t_grEqZeroOrContactPoint" use="optional">
                    <xs:annotation>
                        <xs:documentation>Contact point on the road</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="jointLaneEnd" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>ID of the lane crossed by the segment. If missing all lanes are crossed by the segment.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="jointLaneStart" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>ID of the lane crossed by the segment. If missing all lanes are crossed by the segment.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="transitionLength" type="t_grEqZero" use="optional">
                    <xs:annotation>
                        <xs:documentation>Length of the transition area where local height is interpolated between road data and the &lt;elevationGrid&gt; in order to ensure a smooth transition. The default is 0.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="type" type="e_junction_segment_type" use="optional">
                    <xs:annotation>
                        <xs:documentation>Type of the segment</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_boundary_segment_lane">
        <xs:annotation>
            <xs:documentation>A segment element with @type="lane" goes along @boundaryLane for the given s range. It is the outmost edge of the lane  relative to the center of the junction.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="t_junction_boundary_segment">
                <xs:sequence/>
                <xs:attribute name="boundaryLane" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation>ID of the lane of which the outer edge is the segment</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="sEnd" type="t_grEqZeroOrContactPoint" use="optional">
                    <xs:annotation>
                        <xs:documentation>End of the segment (s-coordinate, begin, end)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="sStart" type="t_grEqZeroOrContactPoint" use="optional">
                    <xs:annotation>
                        <xs:documentation>Start of the segment (s-coordinate, begin, end)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="type" type="e_junction_segment_type" use="optional">
                    <xs:annotation>
                        <xs:documentation>Type of the segment</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_common">
        <xs:annotation>
            <xs:documentation>Common junctions are the default type of junction in ASAM OpenDRIVE and specify areas where drivable lanes may overlap and traffic may cross.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="t_junction">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="connection" type="t_junction_connection_common"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="crossPath" type="t_junction_crossPath"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="priority" type="t_junction_priority"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="controller" type="t_junction_controller"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="surface" type="t_road_surface"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="planView" type="t_road_planView"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="objects" type="t_road_objects"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="boundary" type="t_junction_boundary"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="elevationGrid" type="t_junction_elevationGrid"/>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="type" type="e_junction_type" use="optional">
                    <xs:annotation>
                        <xs:documentation>Common junctions are of type "default". If the attribute is not specified, the junction type is "default". This attribute is mandatory for all other junction types.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="t_junction_connection">
        <xs:annotation>
            <xs:documentation>Provides information about a single connection within a junction.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="laneLink" type="t_junction_connection_laneLink"/>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="contactPoint" type="e_contactPoint" use="optional">
                    <xs:annotation>
                        <xs:documentation>Contact point on the @connectingRoad or @linkedRoad. Required for all junction types except virtual.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="id" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Unique ID within the junction</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="incomingRoad" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>ID of the incoming road. Required for all junction types except virtual.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_connection_common">
        <xs:annotation>
            <xs:documentation>Provides information about a single connection within a common junction.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="t_junction_connection">
                <xs:sequence/>
                <xs:attribute name="connectingRoad" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>ID of the connecting road. Only to be used for junctions of @type="default".</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_connection_direct">
        <xs:annotation>
            <xs:documentation>Provides information about a single connection within a direct junction.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="t_junction_connection">
                <xs:sequence/>
                <xs:attribute name="linkedRoad" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>ID of the directly linked road. Only to be used for junctions of @type="direct".</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_connection_laneLink">
        <xs:annotation>
            <xs:documentation>Provides information about the lanes that are linked between an incoming road and a connecting road. It is strongly recommended to provide this element. It is deprecated to omit the &lt;laneLink&gt; element.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="from" type="xs:integer" use="required">
                    <xs:annotation>
                        <xs:documentation>ID of the incoming lane</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="overlapZone" type="t_grZero" use="optional">
                    <xs:annotation>
                        <xs:documentation>Specifies the length of the area where traffic from both overlapping lanes shares the space. It is defined in s length relative to the position of the junction. Intended for direct junctions only. Default is 100.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="to" type="xs:integer" use="required">
                    <xs:annotation>
                        <xs:documentation>ID of the connection lane</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_connection_virtual">
        <xs:annotation>
            <xs:documentation>Virtual connections indicate possible connections between two roads or one or more lanes of two roads. Virtual connections do not specify connecting roads.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="t_junction_connection">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="predecessor" type="t_junction_predecessorSuccessor"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="successor" type="t_junction_predecessorSuccessor"/>
                </xs:sequence>
                <xs:attribute name="connectingRoad" type="xs:string" use="optional"/>
                <xs:attribute name="type" type="e_connection_type" use="optional">
                    <xs:annotation>
                        <xs:documentation>Type of the connection. Regular connections are @type=“default” . This attribute is mandatory for virtual connections.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_connection_virtual_default">
        <xs:annotation>
            <xs:documentation>Provides information about a single connection within a virtual junction.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="t_junction_connection">
                <xs:sequence/>
                <xs:attribute name="connectingRoad" type="xs:string" use="optional"/>
                <xs:attribute name="type" type="e_connection_type" use="optional">
                    <xs:annotation>
                        <xs:documentation>Type of the connection. Regular connections are @type=“default” . This attribute is mandatory for virtual connections.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_controller">
        <xs:annotation>
            <xs:documentation>Lists the controllers that should be grouped in a sychronization group (limited to that particular junction).</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>ID of the controller</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="sequence" type="xs:nonNegativeInteger" use="optional">
                    <xs:annotation>
                        <xs:documentation>Sequence number (priority) of this controller with respect to other controllers in the same junction</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="type" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Type of control for this junction. Free text, depending on the application.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_crossing">
        <xs:annotation>
            <xs:documentation>Crossings are junctions without connecting roads. They define sections where crossing traffic can appear. Traffic does not change roads at crossings, for example, at railway crossings.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="t_junction">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="roadSection" type="t_junction_roadSection"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="priority" type="t_junction_priority"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="controller" type="t_junction_controller"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="surface" type="t_road_surface"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="planView" type="t_road_planView"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="objects" type="t_road_objects"/>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="type" type="e_junction_type" use="optional">
                    <xs:annotation>
                        <xs:documentation>Common junctions are of type "default". If the attribute is not specified, the junction type is "default". This attribute is mandatory for all other junction types.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_crossPath">
        <xs:annotation>
            <xs:documentation>Cross paths are intended for pedestrian crossings and are junctions elements where traffic of a lane can cross other lanes and continue on a different lane of the same or a different road. The cross path itself is a separate road.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="startLaneLink" type="t_junction_crossPath_laneLink"/>
            <xs:element maxOccurs="1" minOccurs="1" name="endLaneLink" type="t_junction_crossPath_laneLink"/>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
        </xs:sequence>
        <xs:attribute name="crossingRoad" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>ID of road defining the cross path.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="id" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Unique ID within the junction</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="roadAtEnd" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>ID of road at end point of the crossing road</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="roadAtStart" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>ID of road at start point of the crossing road</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="t_junction_crossPath_laneLink">
        <xs:annotation>
            <xs:documentation>Define the links between the lanes of the &lt;crossPath&gt; to the lanes of other roads.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="from" type="xs:integer" use="optional">
                    <xs:annotation>
                        <xs:documentation>Lane ID of either @roadAtEnd for &lt;endLaneLink&gt; or @roadAtStart for &lt;startLaneLink&gt;</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="s" type="t_grEqZero" use="optional">
                    <xs:annotation>
                        <xs:documentation>s-coordinate of either start or end point in linked road.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="to" type="xs:integer" use="optional">
                    <xs:annotation>
                        <xs:documentation>Lane ID of @crossingRoad</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_direct">
        <xs:annotation>
            <xs:documentation>Direct junctions are intended to model entries and exits where drivable lanes may overlap to split or merge, but traffic does not cross.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="t_junction">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="connection" type="t_junction_connection_direct"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="priority" type="t_junction_priority"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="controller" type="t_junction_controller"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="surface" type="t_road_surface"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="planView" type="t_road_planView"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="objects" type="t_road_objects"/>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="type" type="e_junction_type" use="optional">
                    <xs:annotation>
                        <xs:documentation>Common junctions are of type "default". If the attribute is not specified, the junction type is "default". This attribute is mandatory for all other junction types.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_elevationGrid">
        <xs:annotation>
            <xs:documentation>An elevation grid is a coarse square grid with z-values at evenly spaced points. Elevation grids do not replace OpenCRG.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="elevation" type="t_junction_elevationGrid_elevation"/>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="gridSpacing" type="xs:string" use="optional"/>
                <xs:attribute name="sStart" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_elevationGrid_elevation">
        <xs:annotation>
            <xs:documentation>Defines the z-values at the regular grid points along the junction reference line.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="center" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>List of defined z-values.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="left" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>List of defined z-values from inside to outside.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="right" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>List of defined z-values from inside to outside.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_predecessorSuccessor">
        <xs:annotation>
            <xs:documentation>Provides detailed information about the predecessor / successor road of a virtual connection. Currently, only the @elementType “road” is allowed.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="elementDir" type="e_elementDir" use="optional">
                    <xs:annotation>
                        <xs:documentation>Direction, relative to the s-direction, of the connection on the preceding / succeeding road</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="elementId" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>ID of the linked element</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="elementS" type="t_grEqZero" use="required">
                    <xs:annotation>
                        <xs:documentation>s-coordinate where the connection meets the preceding / succeeding road.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute fixed="road" name="elementType" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Type of the linked element. Currently only "road" is allowed.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_priority">
        <xs:annotation>
            <xs:documentation>The junction priority record provides information about the priority of one road over another road that are part of this junction. It is only required if priorities cannot be derived from signs or signals in a junction or on tracks leading to a junction.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="high" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>ID of the prioritized road</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="low" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>ID of the road with lower priority</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_roadSection">
        <xs:annotation>
            <xs:documentation>Define the s range of the crossing roads with possible crossing traffic.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Unique ID within the junction</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="roadId" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>ID of the road of this roadSection element</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="sEnd" type="t_grEqZero" use="optional">
                    <xs:annotation>
                        <xs:documentation>End position of the crossing junction in the road reference line coordinate system. This attribute is mandatory for crossing junctions.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="sStart" type="t_grEqZero" use="optional">
                    <xs:annotation>
                        <xs:documentation>Start position of the crossing junction in the road reference line coordinate system. This attribute is mandatory for crossing junctions.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junction_virtual">
        <xs:annotation>
            <xs:documentation>Virtual junctions manage connections within an uninterrupted road, for example, entries and exits to parking lots, and pedestrian crossings.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="t_junction">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="connection" type="t_junction_connection">
                        <xs:alternative test="@type='virtual'" type="t_junction_connection_virtual"/>
                        <xs:alternative type="t_junction_connection_virtual_default"/>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="crossPath" type="t_junction_crossPath"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="priority" type="t_junction_priority"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="controller" type="t_junction_controller"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="surface" type="t_road_surface"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="planView" type="t_road_planView"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="objects" type="t_road_objects"/>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="mainRoad" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>The main road from which the connecting roads of the virtual junction branch off. This attribute is mandatory for virtual junctions and shall not be specified for other junction types.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="orientation" type="e_orientation" use="optional">
                    <xs:annotation>
                        <xs:documentation>Defines the relevance of the virtual junction according to the driving direction. This attribute is mandatory for virtual junctions and shall not be specified for other junction types. The enumerator "none" specifies that the virtual junction is valid in both directions.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="sEnd" type="t_grEqZero" use="optional">
                    <xs:annotation>
                        <xs:documentation>End position of the virtual junction in the reference line coordinate system. This attribute is mandatory for virtual junctions.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="sStart" type="t_grEqZero" use="optional">
                    <xs:annotation>
                        <xs:documentation>Start position of the virtual junction in the reference line coordinate system. This attribute is mandatory for virtual junctions.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="type" type="e_junction_type" use="optional">
                    <xs:annotation>
                        <xs:documentation>Common junctions are of type "default". If the attribute is not specified, the junction type is "default". This attribute is mandatory for all other junction types.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junctionGroup">
        <xs:annotation>
            <xs:documentation>Junction groups indicate for routing that the grouped junctions belong to the same node and are commonly seen as one big junction, for example roundabouts or highway interchanges.
The &lt;junctionGroup&gt; element is split into a header element and a series of member elements.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="junctionReference" type="t_junctionGroup_junctionReference"/>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Unique ID within database</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Name of the junction group. May be chosen freely.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="type" type="e_junctionGroup_type" use="required">
                    <xs:annotation>
                        <xs:documentation>Type of junction group</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_junctionGroup_junctionReference">
        <xs:annotation>
            <xs:documentation>References to existing &lt;junction&gt; elements.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="junction" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>ID of the junction</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
