resources/schema/OpenDRIVE_1.8/local_schema/OpenDRIVE_Railroad.xsd

<?xml version="1.1" encoding="utf-8" standalone="no"?>
<!--ASAM OpenDRIVE V1.8.0

© by ASAM e.V., 2023

ASAM OpenDRIVE defines a file format for the precise analytical description of road networks


Any use is limited to the scope described in the ASAM license terms.
This file is distributable in accordance with the ASAM license terms.
See www.asam.net/license.html for further details.
--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="OpenDRIVE_Junction.xsd"/>
    <xs:include schemaLocation="OpenDRIVE_Core.xsd"/>
    <xs:simpleType name="e_road_railroad_switch_position">
        <xs:restriction base="xs:string">
            <xs:enumeration value="dynamic"/>
            <xs:enumeration value="straight"/>
            <xs:enumeration value="turn"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="e_station_platform_segment_side">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="e_station_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="small"/>
            <xs:enumeration value="medium"/>
            <xs:enumeration value="large"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="t_road_railroad">
        <xs:annotation>
            <xs:documentation>Container for all railroad definitions that shall be applied along a road.
The available set of railroad elements is currently limited to the definition of switches. All other entries shall be covered with the existing elements, for example, track definition by &lt;road&gt;, signal definition by &lt;signal&gt;, etc. Railroad-specific elements are defined against the background of streetcar applications.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="switch" type="t_road_railroad_switch"/>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_road_railroad_switch">
        <xs:annotation>
            <xs:documentation>Switches change the tracks for rail-bound vehicles. Switches guide the vehicles into two directions only.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="mainTrack" type="t_road_railroad_switch_mainTrack"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="sideTrack" type="t_road_railroad_switch_sideTrack"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="partner" type="t_road_railroad_switch_partner"/>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Unique ID of the switch; preferably an integer number, see uint32_t</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Unique name of the switch</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="position" type="e_road_railroad_switch_position" use="required">
                    <xs:annotation>
                        <xs:documentation>Either a switch can be operated (dynamic) or it is in a static position</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_road_railroad_switch_mainTrack">
        <xs:annotation>
            <xs:documentation>Main tracks form the primary course for rail bound traffic.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="dir" type="e_elementDir" use="required">
                    <xs:annotation>
                        <xs:documentation>direction, relative to the s-direction, on the main track for entering the side track via the switch</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="id" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Unique ID of the main track, that is, the &lt;road&gt; element. Must be consistent with parent containing this &lt;railroad&gt; element.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="s" type="t_grEqZero" use="required">
                    <xs:annotation>
                        <xs:documentation>s-coordinate of the switch, that is, the point where main track and side track meet</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_road_railroad_switch_partner">
        <xs:annotation>
            <xs:documentation>Partner switches are two consistently set switches linked by a side track.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Unique ID of the partner switch</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Unique name of the partner switch</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_road_railroad_switch_sideTrack">
        <xs:annotation>
            <xs:documentation>Side tracks connect two switches that are placed on main tracks.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="dir" type="e_elementDir" use="required">
                    <xs:annotation>
                        <xs:documentation>direction, relative to the s-direction, on the side track for after entering it via the switch</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="id" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Unique ID of the side track, that is, the &lt;road&gt; element</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="s" type="t_grEqZero" use="required">
                    <xs:annotation>
                        <xs:documentation>s-coordinate of the switch on the side track </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_station">
        <xs:annotation>
            <xs:documentation>Stations are places on the rail network where passengers enter and leave rail-bound vehicles at platforms.
May refer to multiple tracks and is therefore defined on the same level as junctions.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="platform" type="t_station_platform"/>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Unique ID within database</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Unique name of the station</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="type" type="e_station_type" use="optional">
                    <xs:annotation>
                        <xs:documentation>Type of station. Free text, depending on the application.
e.g.: small, medium, large</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_station_platform">
        <xs:annotation>
            <xs:documentation>Platforms are essential parts of stations for passengers to enter and leave rail-bound vehicles. One or more railroad tracks reference one platform.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="segment" type="t_station_platform_segment"/>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Unique ID within database</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Name of the platform. May be chosen freely.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="t_station_platform_segment">
        <xs:annotation>
            <xs:documentation>Segments are parts of platforms.
Each &lt;platform&gt; element is valid on one or more track segments. The &lt;segment&gt; element must be specified.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="_OpenDriveElement">
                <xs:sequence>
                    <xs:group maxOccurs="unbounded" minOccurs="0" ref="g_additionalData"/>
                </xs:sequence>
                <xs:attribute name="roadId" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Unique ID of the &lt;road&gt; element (track) that accompanies the platform</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="sEnd" type="t_grEqZero" use="required">
                    <xs:annotation>
                        <xs:documentation>Maximum s-coordiante on &lt;road&gt; element that has an adjacent platform</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="side" type="e_station_platform_segment_side" use="required">
                    <xs:annotation>
                        <xs:documentation>Side of track on which the platform is situated when going from sStart to sEnd</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="sStart" type="t_grEqZero" use="required">
                    <xs:annotation>
                        <xs:documentation>Minimum s-coordinate on &lt;road&gt; element that has an adjacent platform</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
